@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .compact-date-input {
    -webkit-appearance: none;
    appearance: none;
  }

  .compact-date-input::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
  }
}
