services:
  server:
    command: node --watch index.js
    environment:
      NODE_ENV: development
    volumes:
      - ./server:/app
      - server_node_modules:/app/node_modules

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    environment:
      HOST: 0.0.0.0
      PORT: "80"
      WDS_SOCKET_PORT: "8090"
      CHOKIDAR_USEPOLLING: "true"
    stdin_open: true
    tty: true
    volumes:
      - ./client:/app
      - client_node_modules:/app/node_modules

volumes:
  server_node_modules:
  client_node_modules:
